<!DOCTYPE html>{% load static %}
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="{% static '1.css' %}" />
 </head>
 <body>
  <form action="" method="post">
   <table class="p0">
    <tbody>
     <tr>
      <td class="p0">{% spaceless %}{{ form.n0 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n1 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n2 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.n3 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n4 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n5 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.n6 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n7 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n8 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p3">{% spaceless %}{{ form.n9 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n10 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n11 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.n12 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n13 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n14 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.n15 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n16 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n17 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p6">{% spaceless %}{{ form.n18 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n19 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n20 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.n21 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n22 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n23 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.n24 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n25 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n26 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p0">{% spaceless %}{{ form.n27 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n28 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n29 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.n30 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n31 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n32 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.n33 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n34 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n35 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p3">{% spaceless %}{{ form.n36 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n37 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n38 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.n39 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n40 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n41 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.n42 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n43 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n44 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p6">{% spaceless %}{{ form.n45 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n46 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n47 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.n48 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n49 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n50 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.n51 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n52 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n53 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p0">{% spaceless %}{{ form.n54 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n55 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n56 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.n57 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n58 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n59 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.n60 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.n61 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.n62 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p3">{% spaceless %}{{ form.n63 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n64 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n65 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.n66 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n67 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n68 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.n69 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.n70 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.n71 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p6">{% spaceless %}{{ form.n72 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n73 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n74 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.n75 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n76 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n77 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.n78 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.n79 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.n80 }}{% endspaceless %}</td>
     </tr>
    </tbody>
   </table>
   <p><input type="submit" value="Resolve!"/>&nbsp;&nbsp;<input type="reset" value="Reset"/></p>
  </form>
  <table class="answer">
   <tbody>
    <tr>
     <td>{% include '1.sub.html' %}</td>
    </tr>
   </tbody>
  </table>
 </body>
</html>