{% load number_place_extra %}{% for place in answer.places %}
   <div class="arrow">↓</div>
   <table class="p{{ place.state }}">{% spaceless %}
    <tbody>
{%  for item in place %}
{%   with forloop.counter0 as counter0 %}
{%    if counter0|divisibleby:9 %}
     <tr>
{%    endif %}
      <td class="p{{ counter0|getpos }}{% if item.is_error %} error{% elif item.is_fixed %} fixed{% elif item.is_subst %} subst{% endif %}">{% if item.popcount == 1 %}{{ item.numbers|first }}{% else %}
{%     for v in item.numbers %}
       <div class="v{{ v }}">{{ v }}</div>
{%     endfor %}
{%    endif %}</td>
{%    if counter0|add:1|divisibleby:9 %}
     </tr>
{%    endif %}
{%   endwith %}
{%  endfor %}
    </tbody>
   {% endspaceless %}</table>{% endfor %}{% if answer.type == 1 %}
   <table class="answer">
    <tbody>
     <tr>
{%   for c in answer.children %}      <td>{% with c as answer %}{% include '1.sub.html' %}{% endwith %}
      </td>
{%  endfor %}     </tr>
    </tbody>
   </table>{% elif answer.type == 2 %}
   <div class="arrow">↓</div>
   <div class="abort">May be a lot of answers.</div>
{% endif %}