# coding: utf-8

from django.urls import path
from .views import {% for key in forms %}{% if not loop.first %}, {% endif %}View{{ key }}{% endfor %}

urlpatterns = ({% for key in forms %}
	path('{{ key }}.html', View{{ key }}.as_view(), name='{{ key }}'),{% endfor %}
)
