#cython: language_level=3
# coding: utf-8

from django.template.response import TemplateResponse
from django.views.generic import View
from .forms import {% for key in forms %}{% if not loop.first %}, {% endif %}Form{{ key }}{% endfor %}
from ._views import get_answer
{% for key in forms %}{% set f = forms[key] %}
View{{ key }}_FormBlocks = ({% for b in f.blocks %}
	({% for n in b %}'{{ n }}', {% endfor %}),{% endfor %}
){% endfor %}
{% for key in forms %}
class View{{ key }}(View):
	def get(self, request, *args, **kwargs):
		data = request.GET
		return TemplateResponse(
			request=request,
			template=('{{ key }}.html',),
			context={
				'view': self,
				'form': Form{{ key }}(data=data),
				'answer':
					get_answer(
						data,
						View{{ key }}_FormBlocks
					)
			}
		)
	def post(self, request, *args, **kwargs):
		data = request.POST
		return TemplateResponse(
			request=request,
			template=('{{ key }}.html',),
			context={
				'view': self,
				'form': Form{{ key }}(data=data),
				'answer':
					get_answer(
						data,
						View{{ key }}_FormBlocks
					)
			}
		){% endfor %}
