table.p0
 {
 background-color: white;
 border-collapse: separate;
 border: solid 2px black;
 border-spacing: 0;
 margin: auto;
 padding: 0;
 }
table.p0 td
 {
 border-color:  black;
 border-style: solid;
 box-sizing: content-box;
 color:  black;
 font-family: sans-serif;
 font-size: 40px;
 height: 48px;
 line-height: 48px;
 min-height: 48px;
 min-width: 48px;
 padding: 0px;
 position: relative;
 text-align: center;
 vertical-align: middle;
 width: 48px;
 }
table.answer
 {
 margin: auto;
 text-align: center;
 vertical-align: top;
 }
table.answer > tbody > tr > td
 {
 padding: 0 8px;
 vertical-align: top;
 }
td.p0 { border-width: 2px 1px 1px 2px; }
td.p1 { border-width: 2px 1px 1px 1px; }
td.p2 { border-width: 2px 2px 1px 1px; }
td.p3 { border-width: 1px 1px 1px 2px; }
td.p4 { border-width: 1px; }
td.p5 { border-width: 1px 2px 1px 1px; }
td.p6 { border-width: 1px 1px 2px 2px; }
td.p7 { border-width: 1px 1px 2px 1px; }
td.p8 { border-width: 1px 2px 2px 1px; }
td.fixed
 {
 background-color: lightgreen;
 }
td.error
 {
 background-color: lightcoral;
 }
td.subst
 {
 background-color: lightgoldenrodyellow;
 }
table.p1
 {
 background-color: white;
 border-collapse: separate;
 border: solid 2px black;
 border-spacing: 0;
 margin: auto;
 padding: 0;
 }
table.p1 td
 {
 border-color: black;
 border-style: solid;
 box-sizing: content-box;
 color: black;
 font-family: sans-serif;
 font-size: 20px;
 height: 24px;
 line-height: 24px;
 margin: 0;
 min-height: 24px;
 min-width: 24px;
 padding: 0;
 position: relative;
 text-align: center;
 vertical-align: middle;
 width: 24px;
 }
table.p1 div
 {
 background-color: honeydew;
 border-width: 0;
 box-sizing: content-box;
 color: black;
 font-family: sans-serif;
 font-size: 8px;
 height: 8px;
 line-height: 10px;
 margin: 0;
 min-height: 8px;
 min-width: 8px;
 padding: 0;
 position: absolute;
 text-align: center;
 vertical-align: middle;
 width: 8px;
 }
div.v1 { left: 0; top: 0; }
div.v2 { left: 8px; top: 0; }
div.v3 { left: 16px; top: 0; }
div.v4 { left: 0; top: 8px; }
div.v5 { left: 8px; top: 8px; }
div.v6 { left: 16px; top: 8px; }
div.v7 { left: 0; top: 16px; }
div.v8 { left: 8px; top: 16px; }
div.v9 { left: 16px; top: 16px; }
form p
 {
 text-align: center;
 }
form select
 {
 font-family: sans-serif;
 font-size: 24px;
 }
form input
 {
 box-sizing: content-box;
 color: black;
 font-family: sans-serif;
 font-size: 24px;
 height: 32px;
 line-height: 32px;
 text-align: center;
 vertical-align: middle;
 width: 96px;
 }
div.arrow
 {
 text-align: center;
 font-size: 48px;
 }
div.abort
 {
 text-align: center;
 font-size: 24px;
 }
