<!DOCTYPE html>{% load static %}
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="{% static '0.css' %}" />
 </head>
 <body>
  <form action="" method="post">
   <table class="q">
    <tbody>
     <tr>
      <td class="p0">{% spaceless %}{{ form.A1 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.A2 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.A3 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.A4 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.A5 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.A6 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.A7 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.A8 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.A9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p3">{% spaceless %}{{ form.B1 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.B2 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.B3 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.B4 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.B5 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.B6 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.B7 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.B8 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.B9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p6">{% spaceless %}{{ form.C1 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.C2 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.C3 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.C4 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.C5 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.C6 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.C7 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.C8 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.C9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p0">{% spaceless %}{{ form.D1 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.D2 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.D3 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.D4 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.D5 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.D6 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.D7 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.D8 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.D9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p3">{% spaceless %}{{ form.E1 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.E2 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.E3 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.E4 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.E5 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.E6 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.E7 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.E8 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.E9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p6">{% spaceless %}{{ form.F1 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.F2 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.F3 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.F4 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.F5 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.F6 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.F7 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.F8 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.F9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p0">{% spaceless %}{{ form.G1 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.G2 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.G3 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.G4 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.G5 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.G6 }}{% endspaceless %}</td>
      <td class="p0">{% spaceless %}{{ form.G7 }}{% endspaceless %}</td>
      <td class="p1">{% spaceless %}{{ form.G8 }}{% endspaceless %}</td>
      <td class="p2">{% spaceless %}{{ form.G9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p3">{% spaceless %}{{ form.H1 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.H2 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.H3 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.H4 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.H5 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.H6 }}{% endspaceless %}</td>
      <td class="p3">{% spaceless %}{{ form.H7 }}{% endspaceless %}</td>
      <td class="p4">{% spaceless %}{{ form.H8 }}{% endspaceless %}</td>
      <td class="p5">{% spaceless %}{{ form.H9 }}{% endspaceless %}</td>
     </tr>
     <tr>
      <td class="p6">{% spaceless %}{{ form.I1 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.I2 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.I3 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.I4 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.I5 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.I6 }}{% endspaceless %}</td>
      <td class="p6">{% spaceless %}{{ form.I7 }}{% endspaceless %}</td>
      <td class="p7">{% spaceless %}{{ form.I8 }}{% endspaceless %}</td>
      <td class="p8">{% spaceless %}{{ form.I9 }}{% endspaceless %}</td>
     </tr>
    </tbody>
   </table>
   <p><input type="submit" value="Solve!"/>&nbsp;&nbsp;<input type="reset" value="Reset"/></p>
  </form>{% if answer.tasks >= 0 %}
  <table class="a">
   <tbody>
    <tr>
     <td>
      <div>number of procedures: {{ answer.tasks }}</div>{% include '1.sub.html' %}
     </td>
    </tr>
   </tbody>
  </table>{% endif %}
 </body>
</html>
