{% for place in answer.places %}
<div class="arrow">↓</div>
<div class="method">{% if place.method == 0 %}
 0. pre-check{% elif place.method == 1 %}
 1. Exclude verified numbers.{% elif place.method == 2 %}
 2. Using double cross theory.{% elif place.method == 3 %}
 3. Temporarily decide the number.{% endif %}
</div>
<table class="p">
 <tbody>
  <tr>{% spaceless %}
   {% with place.A1 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A2 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A3 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A4 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A5 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A6 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A7 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A8 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.A9 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.B1 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B2 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B3 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B4 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B5 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B6 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B7 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B8 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.B9 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.C1 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C2 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C3 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C4 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C5 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C6 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C7 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C8 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.C9 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.D1 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D2 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D3 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D4 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D5 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D6 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D7 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D8 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.D9 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.E1 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E2 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E3 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E4 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E5 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E6 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E7 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E8 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.E9 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.F1 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F2 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F3 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F4 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F5 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F6 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F7 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F8 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.F9 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.G1 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G2 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G3 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G4 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G5 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G6 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G7 as item %}<td class="p0{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G8 as item %}<td class="p1{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.G9 as item %}<td class="p2{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.H1 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H2 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H3 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H4 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H5 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H6 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H7 as item %}<td class="p3{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H8 as item %}<td class="p4{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.H9 as item %}<td class="p5{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
  <tr>{% spaceless %}
   {% with place.I1 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I2 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I3 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I4 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I5 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I6 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I7 as item %}<td class="p6{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I8 as item %}<td class="p7{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
   {% with place.I9 as item %}<td class="p8{{ item.state }}">{{ item.number|linebreaksbr }}</td>{% endwith %}
  {% endspaceless %}</tr>
 </tbody>
</table>{% endfor %}{% if answer.children %}
<table class="a">
 <tbody>
  <tr>{% for c in answer.children %}
   <td>{% with c as answer %}{% include '1.sub.html' %}{% endwith %}
   </td>{% endfor %}
  </tr>
 </tbody>
</table>{% endif %}